{% extends "layout.html" %} {% block stylesheet %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename= 'css/style_adicionar.css') }}"
/>
{% endblock %} {% block title %}Adicionar - Mi-Controla{% endblock %} {% block
conteudo %}
<header>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
    rel="stylesheet"
  />
  <div>
    <a href="{{ url_for('estoque') }}"
      ><img
        class="logo"
        src="{{ url_for('static', filename= 'images/logo.png') }}"
    /></a>
  </div>

  <h1>Sistema de Controle de Estoque</h1>

  <div class="botaofoto">
    <div class="imagens">
      <a href="{{ url_for('estoque') }}"
        ><img
          src="{{ url_for('static', filename= 'images/in-estoque3.png') }}"
          height="50"
          width="50"
      /></a>
      <p>Estoque</p>
    </div>

    <div class="imagens">
      <a href=""
        ><img
          src="{{ url_for('static', filename= 'images/in-planilha.png') }}"
          height="50"
          width="50"
      /></a>
      <p>Planilha</p>
    </div>
    <div class="imagens">
      <a href="{{ url_for('historico') }}"
        ><img
          src="{{ url_for('static', filename= 'images/in-historico.png') }}"
          height="50"
          width="50"
      /></a>
      <p>Histórico</p>
    </div>
  </div>

  <div class="S+Pesquisa">
    <h5 class="textoInicio">
      Bem vindo(a) <a class="textoInicio" href="#">Sair</a
      ><img
        src="{{ url_for('static', filename= 'images/in-voltar.png') }}"
        height="15"
        width="15"
      />
    </h5>

    <span id="pesquisa">
      <input
        id="inPesquisa"
        type="text"
        nome="pesquisar"
        placeholder="Pesquise itens aqui!"
      />
      <input
        id="botaoPesquisa"
        type="image"
        src="{{ url_for('static', filename= 'images/in-buscar.png') }}"
      />
    </span>
  </div>
</header>

<main>
  <div>
    <form action="{{ url_for('adicionar') }}" method="POST"  onsubmit="alerta()" enctype="multipart/form-data">
      <h2>Adicionar Novo Produto</h2>
      {{ form.hidden_tag() }} {{ form.nome_produto(placeholder="Nome do produto") }}
      <br />
      {{ form.quantidade(placeholder="Estoque (unidades)") }}
      <br>
      {{ form.codigo_barras(placeholder="Código de barras") }}
      <br>
      {{ form.preco(placeholder="Preço (reais)") }}
      <br />
      {{ form.fornecedor.label(style="color: white;") }}
      <br />
      {{ form.fornecedor(class="fornecedor") }}
      <br />
      <br />
      {{ form.tempo_entrega.label(style="color: white;") }}
      <div class="branco">
        {% for subfield in form.tempo_entrega %}
        <tr>
          <td>{{ subfield(class="tempoentrega") }}</td>
          <td>{{ subfield.label }}</td>
        </tr>
        {% endfor %}
      </div>
      <br />
      {{ form.descricao(class="descricao", placeholder="Descrição do produto")
      }}
      <br />
      <label style="color: white;">Adicionar imagem</label><br />
      {{ form.foto }}
      {{ form.inserir_produto(class="boton") }}
      <br />
    </form>
  </div>
</main>

<br />
<br />
<br />
<br />

<footer>
    <a class="imagens2" href="https://www.instagram.com/titan_ufba/" target="_blank"
      ><img
        src="{{ url_for('static', filename= 'images/footer1.png') }}"
        height="30"
        width="30"
    /></a>

    <a class="imagens2" href="https://www.linkedin.com/company/ufbatitan/" target="_blank"
      ><img
        src="{{ url_for('static', filename= 'images/footer2.png') }}"
        height="30"
        width="30"
    /></a>
</footer>

{% endblock %} 

{% block script %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename= 'js/script_adicionar.js') }}"
></script>
{% endblock %}
