{% extends "layout.html" %}
{% import "macros.html" as produto %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style_estoque.css') }}">
{% endblock %}


{% block title %}Estoque - Mi-Controla{% endblock %}


{% block conteudo %}
<header>
  <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:ital@1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <div>
    <a href="{{ url_for('estoque') }}"><img id="logo" src="{{ url_for('static', filename= 'images/logo.png') }}"></a>
  </div>

  <h1>Sistema de Controle de Estoque</h1>

  <div class="linha"></div>

  <div id="menuInteracao">
    <div class="imagens"><a href="{{ url_for('adicionar') }}"><img
          src="{{ url_for('static', filename= 'images/in-adicionar.png') }}" height="50" width="50"></a>
      <p>Adicionar</p>
    </div>
    <div class="imagens"><a href=""><img src="{{ url_for('static', filename= 'images/in-planilha.png') }}" height="50"
          width="50"></a>
      <p>Planilha</p>
    </div>
    <div class="imagens"><a href="{{ url_for('historico') }}"><img
          src="{{ url_for('static', filename= 'images/in-historico.png') }}" height="50" width="50"></a>
      <p>Histórico</p>
    </div>

  </div>

  <div class="S+Pesquisa">
    <h5 class="textoInicio">Bem vindo(a) <a class="textoInicio" href="#">Sair</a><img
        src="{{ url_for('static', filename= 'images/in-voltar.png') }}" height="15" width="15"></h5>
    <span id="pesquisa">
      <input id="inPesquisa" type="text" nome="pesquisar" placeholder="Pesquise itens aqui!">
      <input id="botaoPesquisa" type=image src="{{ url_for('static', filename= 'images/in-buscar.png') }}" width="29"
        height="28">
    </span>
    <!--esse parágrafo serve apenas para alinhar melhor esse conjunto -->
    <p></p>
  </div>
</header>

<main>
  {% if estoque == "estoque vazio" %}
    <h1>ESTOQUE VAZIO</h1>
  {% else %}
    {% for nome in estoque["nome_produto"] %}
      <div class="item">
        <ul>
          {{ produto.produto(estoque, nome, estoque["nome_produto"].index(nome)) }}
        </ul>
      </div>
    {% endfor %}
  {% endif %}
</main>

<footer>
  <div class="foot">
    <div class="imagensFooter"><a href="https://www.instagram.com/titan_ufba/" target="_blank"><img
          src="{{ url_for('static', filename= 'images/footer1.png') }}" height="30" width="30"></a></div>
    <div class="imagensFooter"><a href="https://www.linkedin.com/company/ufbatitan/" target="_blank"><img
          src="{{ url_for('static', filename= 'images/footer2.png') }}" height="30" width="30"></a></div>
  </div>

</footer>

<!--Essa parte constroi os popups que são utilizados como forma de dar mais informações sobre produto (1) e para retirar um item (2)-->

<!--(1)-->
<div id="fundoPop"></div>

<div id="popUpInfo">

  <div><img class="imagemPop" src="{{ url_for('static', filename= 'images/produto1.jpg') }}"></div>
  <ul id="ulInfo">
    <!-- Esta lista receberá as informações do JS para serem dispostas no pop-up -->
    <li><b>Nome: </b>{{ estoque["nome_produto"][0]}}</li>
    <li><b>Preço: </b>{{ estoque["preco"][0]}}</li>
    <li><b>Código de Barras: </b>{{ estoque["codigo_barras"][0]}}</li>
    <li><b>Fornecedor: </b>{{ estoque["fornecedor"][0]}}</li>
    <li><b>Tempo de Entrega: </b>{{ estoque["tempo_entrega"][0]}}</li>
  </ul>

  <div id="descriçãoInfo">
    <p><b>Descrição: </b>{{ estoque["descricao"][0]}}</p><span></span>
  </div>

  <button id="botaoCIn" onclick="retirarPopInfo()">CONFIRMAR</button>

</div>

<!--(2)-->

<div id="popUpRetirada">

  <div><img class="imagemPop" src="{{ url_for('static', filename= 'images/produto1.jpg') }}"></div>
  <ul id="ulRetirada">
    <li><b>Nome: </b>{{ estoque["nome_produto"][0]}}</li>
    <li><b>Preço: </b>{{ estoque["preco"][0]}}</li>
    <li><b>Código de Barras: </b>{{ estoque["codigo_barras"][0]}}</li>
    <li><b>Fornecedor: </b>{{ estoque["fornecedor"][0]}}</li>
    <li><b>Tempo de Entrega: </b>{{ estoque["tempo_entrega"][0]}}</li>
  </ul>

  <div id="detalhes">
    <ul>
      <li id="quantidade"><b>Quantidade a ser retirada: </b>Variável <button id="bQuantidadeR">+</button></li>
      <li><b>Valor total a ser recebido: </b>8000</li>
    </ul>
  </div>

  <button id="botaoCR" onclick="retirarPopRetirada()">CONFIRMAR</button>

</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename= 'js/script.js') }}"></script>
{% endblock %}