{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style_historico.css') }}">
{% endblock %}


{% block title %}Histórico - Mi-Controla{% endblock %}


{% block conteudo %}
<header>
  <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Open+Sans:wght@600&family=Poppins:wght@700&family=Shadows+Into+Light&family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
  <div>
    <a href="{{ url_for('estoque') }}"><img id="logo" src="{{ url_for('static', filename= 'images/logo.png') }}"></a>
  </div>

  <h1>Sistema de Controle de Estoque</h1>

  <div id="menuInteracao">
    <div class="imagens"><a href="{{ url_for('estoque') }}"><img
          src="{{ url_for('static', filename= 'images/in-estoque3.png') }}" height="50" width="50"></a>
      <p>Estoque</p>
    </div>
    <div class="imagens"><a href="{{ url_for('adicionar') }}"><img
          src="{{ url_for('static', filename= 'images/in-adicionar.png') }}" height="50" width="50"></a>
      <p>Adicionar</p>
    </div>
    <div class="imagens"><a href="{{ url_for('static', filename= 'pd/estoque.csv') }}"><img src="{{ url_for('static', filename= 'images/in-planilha.png') }}" height="50"
          width="50"></a>
      <p>Planilha</p>
    </div>

  </div>
  <h5 class="textoInicio">Bem vindo(a) <a class="textoInicio" href="{{ url_for('login') }}">Sair</a><img class="sair"
      src="{{ url_for('static', filename= 'images/in-voltar.png') }}" height="15" width="15"></h5>

</header>

<main>
  <div class="legenda">
    <img id="legenda1" src="{{ url_for('static', filename= 'images/legenda1.png') }}" height="15" width="15"><h4>Retirar</h4>
    <img id="legenda1" src="{{ url_for('static', filename= 'images/legenda2.png') }}" height="15" width="15"><h4>Adicionar</h4>
    <img id="legenda1" src="{{ url_for('static', filename= 'images/legenda3.png') }}" height="15" width="15"><h4>Remover</h4>
  </div>
  <div id="blocoHistórico">
    {% if hist == "historico vazio" %}
      <h1>HISTÓRCO VAZIO</h1>
    {% else %}
      {% set ni = namespace(nome_index = 0) %}
      
      {% for nome in hist["nome_produto"] %}
        {% if hist["status"][ni.nome_index] == "adicionado" %}
          {{ macros.historico_adicionar(hist, nome, ni.nome_index) }}
          {% set ni.nome_index = ni.nome_index + 1 %}
        {% elif hist["status"][ni.nome_index] == "retirado" %}
          {{ macros.historico_retirar(hist, nome, ni.nome_index) }}
          {% set ni.nome_index = ni.nome_index + 1 %}
        {% elif hist["status"][ni.nome_index] == "removido" %}
          {{ macros.historico_remover(hist, nome, ni.nome_index) }}
          {% set ni.nome_index = ni.nome_index + 1 %}
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</main>
{% endblock %}