{% extends "layout.html" %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style_login.css') }}">
{% endblock %}

{% block conteudo %}
  <header>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <div>
      <img class="logo" src="{{ url_for('static', filename= 'images/logo.png') }}">
    </div>

    <h1>Sistema de Controle de Estoque</h1>

    <div class="botaofoto">
      <div class="imagens"><a href="{{ url_for('estoque') }}"><img src="{{ url_for('static', filename= 'images/in-estoque.png') }}" height="50" width="50"></a>
        <p>Estoque
      </div>
      <div class="imagens"><a href=""><img src="{{ url_for('static', filename= 'images/in-planilha.png') }}" height="50" width="50"></a>
        <p>Planilha</p>
      </div>
      <div class="imagens"><a href="{{ url_for('historico') }}"><img src="{{ url_for('static', filename= 'images/in-historico.png') }}" height="50" width="50"></a>
        <p>Histórico</p>
      </div>
    </div>

    <div class="S+Pesquisa">
      <h5 class="textoInicio">Bem vindo(a) <a class="textoInicio" href="{{ url_for('login') }}">Sair</a><img src="{{ url_for('static', filename= 'images/in-voltar.png') }}"
          height="15" width="15"></h5>
      <span id="pesquisa">>
        <input id="inPesquisa" type="text" nome="pesquisar" placeholder="Pesquise itens aqui!">
        <input id="botaoPesquisa" type=image src="{{ url_for('static', filename= 'images/in-buscar.png') }}">
      </span>

    </div>
  </header>

  <main>
    <form action="{{ url_for('login') }}" method="post">
      <div class="login">
        <p id="logintitulo">Faça seu Login</p>
        <input class="campo" type="text" placeholder="       Usuário" />
        <input class="campo" type="password" placeholder="       Senha" />
        <input class="boton" type="submit" value="LOGIN" />
      </div>
    </form>
  </main>

  <br />
  <br />
  <footer>
    <div class="imagens2">
      <a href="https://www.instagram.com/titan_ufba/" target="_blank"><img src="{{ url_for('static', filename= 'images/footer1.png') }}" height="30"
          width="30"></a>
      <a href="https://www.linkedin.com/company/ufbatitan/" target=_blank><img src="{{ url_for('static', filename= 'images/footer2.png') }}" height="30"
          width="30"></a>
    </div>
  </footer>
{% endblock %}