{% macro produto(estoque, nome, nome_index) -%}
    <li><button class="detalheItem" onclick="exibirPopInfo()"><img class="imagemProduto"
                src="{{ url_for('static', filename= 'images/produto1.jpg') }}"></button></li>
    <li class="nome">{{ nome }}</li>
    <li class="dado"><b>Preço: </b>{{ estoque["preco"][nome_index]}}</li>
    <li class="finalItem"><button class="bt" onclick="exibirPopRetirada()">RETIRAR</button> <span
            id="contador">{{ estoque["quantidade"][nome_index] }}</span><button class="bt2"><img
                src="{{ url_for('static', filename= 'images/in-adicionarItem.png') }}"></button></li>
{%- endmacro %}