{% extends "layout.html" %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style_registro.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}


{% block title %}Registro - Mi-Controla{% endblock %}


{% block conteudo %}
<header>
  <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Open+Sans:wght@600&family=Poppins:wght@700&family=Shadows+Into+Light&family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
  
  <div>
    <a href="{{ url_for('login') }}"><img class="logo" src="{{ url_for('static', filename= 'images/logo.png') }}"></a>
  </div>

  <h1>Sistema de Controle de Estoque</h1>

</header>

<main>
  <form>
    <div class="registro">
      <p id="registrotitulo">Registre -se</p>
      <label>Nome completo</label>
      <div class="icon_nome">
        <i class="fa fa-id-card fa-2x" aria-hidden="true"></i>
        <input class="campo" type="text" />
      </div>
      <label>Usuário</label>
      <div class="icon_user">
        <i class="fa fa-user fa-2x" aria-hidden="true"></i>
        <input class="campo" type="text" />
      </div>
      <label>E-mail</label>
      <div class="icon_email">
        <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
        <input class="campo" type="text" />
      </div>
      <label>Senha</label>
      <div class="icon_senha">
        <i class="fa fa-lock fa-2x" aria-hidden="true"></i>
        <input class="campo" type="password" />
      </div>
      <label>Confirme a senha</label>
      <div class="icon_senha">
        <i class="fa fa-lock fa-2x" aria-hidden="true"></i>
        <input class="campo" type="password" />
      </div>
      <input class="boton" type="submit" value="REGISTAR" />
    </div>
  </form>
</main>

<br />
<br />
<footer>
    <a class="imagens2" href="https://www.instagram.com/titan_ufba/" target="_blank"><img
        src="{{ url_for('static', filename= 'images/footer1.png') }}" height="30" width="30"></a>
    <a class="imagens2" href="https://www.linkedin.com/company/ufbatitan/" target=_blank><img
        src="{{ url_for('static', filename= 'images/footer2.png') }}" height="30" width="30"></a>
</footer>
{% endblock conteudo %}