body {
    background-color: #778899;
    margin: 0;
}

/* Personalização do Header*/

header {
    display: flex;
    width: 100%;
    height: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-image: linear-gradient(to right, #144bb8c7, #29bbb4);
    justify-content: space-between;
    align-items: center;

}

h1 {
    font-family: 'Holtwood One SC', serif;
    font-size: 27px;
    margin-left: 70px;

}

#logo {
    max-width: 110px;
    padding-top: 4px;
    margin-left: 1.5vw;
}

#menuInteracao {
    display: flex;
    font-size: 10px;
}

.imagens {
    display: flex;
    flex-direction: column;
    padding-top: 15px;

}

.imagens>p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-left: 4px;
}

.imagens>a {
    background-color: transparent;

    border-style: none;
}

.imagens>a>img {
    max-width: 50px;
    max-height: 50px;
    padding-right: 3vw;
    padding-top: 2.5vh;
    padding-top: 4px;

}

.textoInicio {
    font-family: 'Roboto', sans-serif;
}

.textoInicio>a {
    text-decoration: none;
    color: black;

}

.textoInicio>a:hover {
    color: #666666;
}

.textoInicio>img {
    margin-right: 5vw;
}

/* personalização do bloco hitórico*/

#blocoHistórico {
    margin: 0 auto;
    list-style: none;
    max-width: 1000px;
    margin-top: 10vh;
}

.histAdd,
.histRetirada {
    width: 960px;
    height: 96px;
    background-color: #FFFAFA;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 1vh;

}


.dataEHora {
    font-size: 12px;
    margin-bottom: 70px;
    margin-right: 20px;
}

/*.botao{
    width:960px;
    height: 100px;
    padding: 0;
    margin: 0;
    border: none;
    margin-top: 1vh;
    font-size: inherit;
    background-color: transparent;
    cursor: pointer;
}*/

/* bloco Add*/
#nomeA {
    margin-left: 0px;

}

#quantidadeA {
    margin-left: 250px;
}

#faixaAdd {
    background-color: green;
    color: green;
    width: 20px;
    height: 6em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* bloco retirar*/

#nomeR {
    margin-left: -10px;
}

#vRecebido {
    margin-top: -2em;
    margin-right: 5px;
    padding: 0;
    width: 150px;
    height: 10px;
    text-align: center;
}

#faixaRetirar {
    background-color: #ce1515;
    color: #ce1515;
    width: 20px;
    height: 6em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}