body {
  background-color: #97a5b3;
  background: linear-gradient(to right, #144bb8c7, #29bbb4);
  margin: 0;
}

/* Personalização do Header*/

header {
  display: flex;
  width: 100%;
  height: 100px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-image: linear-gradient(to right, #144bb8c7, #29bbb4);
  justify-content: space-between;
  align-items: center;
  border-bottom: solid white;
}

h1 {
	font-family: 'Holtwood One SC', serif;
	font-size: 40px;
  letter-spacing: 1px;
  font-family: 'Shadows Into Light', cursive;
  color: white;
}

#logo {
  max-width: 110px;
  padding-top: 4px;
  margin-left: 1.5vw;
}

#logo:hover{
	-webkit-transform: scale(1.2);
	 -ms-transform: scale(1.2);
	 transform: scale(1.2);
  
}

#menuInteracao {
	display: flex;
	font-size: 10px;
}

.textoInicio {
  font-family: "Roboto", sans-serif;
  color: white;
}

.textoInicio > a {
  text-decoration: none;
  color: white;
}

.textoInicio > a:hover {
  color: #666666;
}

.imagens {
	display: flex;
  flex-direction: column;
  filter: invert(100%);
}

.imagens:hover{
  -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.imagens > p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  
}

.imagens > a {
  background-color: transparent;
  border-style: none;
  color: white;
}

.imagens > a > img {
  max-width: 50px;
  max-height: 50px;
  padding-right: 3vw;
  padding-top: 2.5vh;
  padding-top: 4px;
  opacity: 80%;
}

#pesquisa {
  display: flex;
  align-items: center;
}

#inPesquisa {
  padding: 0;
  height: 28px;
  width: 210px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-style: solid;
  border-color: #666666;
  border-width: 2px;
  font-family: "Zilla Slab", serif;
  box-shadow: 0 0 0 0;
	outline: 0;
}

#botaoPesquisa {
  border-color: #666666;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-right: 0.4vw;
  border-style: solid;
  border-left: 0;
  border-width: 2px;
  padding: 0;
  box-shadow: 0 0 0 0;
	outline: 0;
}
.sair{
  filter: invert(100%);
}
/* Personalização do main*/

main ul {
  list-style: none;
}

main {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 80%;
  font-family: 'Roboto', sans-serif;
  fill-opacity: unset;
}

.item {
	background-color: #8a97b15e;
	padding: 0;
	margin-top: 10vh;
	box-sizing: border-box;
	max-width: 210px;
	max-height: 380px;
	min-width: 180px;
	min-height: 320px;
	border-radius: 20px;
	margin-left: 4vw;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Roboto', sans-serif;
}

.item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	
}

.item > ul {
  width: inherit;
  height: inherit;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.imagemProduto {
  border-radius: 20px;
  width: 210px;
  height: 210px;
}

.detalheItem {
  width: 210px;
  height: 200px;
  padding: 0;
  margin: 0;
  border-radius: 20px;
  background-color: transparent;
  border-color: transparent;
  box-shadow: 0 0 0 0;
  outline: 0;
}

.nome {
  text-align: right;
  margin-right: 0.5vw;
  margin-top: 10%;
  margin-bottom: 10%;
  overflow-wrap: normal;
  max-width: 210px;
  height: 40px;
}

.dado {
  text-indent: 4px;
}

.finalItem {
  display: flex;
  justify-content: center;
  margin-top: 15%;
  align-items: center;
  margin-bottom: 8%;
}

.bt {
  color: black;
  letter-spacing: 2px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.651);
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 18px;
  padding-right: 18px;
  margin-right: 2px;
  margin-left: 0.5vw;
  border-style: none;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  box-shadow: 0 0 0 0;
  outline: 0;
  
}

.bt:hover {
  background-color: #1cc6ff;
  background-image: none;
  border-color: none;
}

#contador {
  width: 45px;
  height: 22px;
  padding-top: 5px;
  background-color: rgba(255, 255, 255, 0.651);
  border-style: solid;
  border-radius: 5px;
  box-shadow: 2px 1px 4px 0 rgba(0, 0, 0, 0.2);
  border-style: none;
  text-align: center;
}

#contador2 {
  width: 45px;
  height: 22px;
  padding-top: 5px;
  background-color: rgba(219, 0, 0, 0.856);
  border-style: solid;
  border-radius: 5px;
  box-shadow: 2px 1px 4px 0 rgba(0, 0, 0, 0.2);
  border-style: none;
  text-align: center;
  color: white;
}

/*Personalização do footer*/

.foot {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: content;
  border-bottom: 30px solid #2053b8a4;
  justify-content: center;
}

.imagensFooter {
  margin-top: 10vh;
  filter: invert(100%);
}
.imagensFooter:hover{
	-webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
}

.imagensFooter > a {
  padding-right: 1vw;
}

/* Popups*/

/*(1)*/

#fundoPop {
	position: absolute;
	margin: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #FFFAFA;
	opacity: 0.8;
	display: none;
	box-sizing: border-box;
	width: 100%;
}

#popUpInfo {
  width: 700px;
  height: 500px;
  max-width: 700px;
  max-height: 500px;
  display: none;
  grid-template-columns: 250px 450px;
  grid-template-rows: 250px 200px 50px;
  background-color: #97a5b3;
  font-family: "Roboto", sans-serif;
  border-radius: 20px;
  position: fixed;
  margin-top: 10vh;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#descriçãoInfo {
  grid-column: 1/3;
  grid-row: 2/3;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  margin-left: 1vw;
}

#botaoCIn {
	grid-column: 2/3;
	grid-row: 3/4;
	width: 100px;
	height: 40px;
	padding: 0;
	font-weight: bold;
	margin-left: 250px;
	border-radius: 4px;
	box-shadow: 2px 1px 4px 0 rgba(0, 0, 0, 0.2);
	border-color: none;
	background-color: #25b1e0;
	border-style: none;
	cursor: pointer;
	font-family: 'Source Sans Pro', sans-serif;
	box-shadow: 0 0 0 0;
    outline: 0;

}

#botaoCIn:hover {
	background-color: #1cc6ff;
	border-color: none;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	  transform: scale(1.1);
}
#botaoexcluir{
	margin-left: 130px;
	width: 100px;
	height: 40px;
	padding: 0;
	font-weight: bold;
	border-radius: 4px;
	box-shadow: 0 0 0 0;
	border-color: none;
	background-color: #e02b25;
	opacity: 70%;
	border-style: none;
	cursor: pointer;
	font-family: 'Source Sans Pro', sans-serif;
	box-shadow: 0 0 0 0;
    outline: 0;
  color: white;
	
}
#botaoexcluir:hover{
	background-color: #e02b25;
	opacity: 100%;
  border-color: none;
   -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
      transform: scale(1.1);
}
.imagemPop {
	width: 250px;
	height: 250px;
	border-radius: 20px;
	box-shadow: 0 0 0 0;
    outline: 0;
}

#ulInfo {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 0;
  list-style: none;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding-left: 1vw;
}

#ulInfo > li {
  padding: 10px;
}

#mensagemQuantidadeBaixa{
  font-size: 14px;
  color: rgb(116, 0, 0);
  margin-left: 20px;
  margin-top: 30px;
  height: 22px;
  padding-left: 5px;
  padding-top:3px;
  background-color:rgba(255, 0, 0, 0.329);
  border-radius: 5px;
  width: 200px;
}

/* (2) */

#popUpRetirada {
  width: 700px;
  height: 500px;
  max-width: 700px;
  max-height: 500px;
  display: grid;
  grid-template-columns: 250px 410px 40px;
  grid-template-rows: 250px 200px 50px;
  background-color: #8c8c8c;
  font-family: "Roboto", sans-serif;
  border-radius: 20px;
  position: fixed;
  margin-top: 10vh;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

#ulRetirada {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 0;
  list-style: none;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding-left: 1vw;
}

#ulRetirada > li {
  padding: 10px;
}

#botaoCR {
	grid-column: 2/3;
	grid-row: 3/4;
	width: 100px;
	height: 40px;
	padding: 0;
	font-weight: bold;
	margin-left: 17vw;
	border-radius: 8px;
	border-color: none;
	background-color: #25b1e0;
	border-style: none;
	cursor: pointer;
	font-family: 'Source Sans Pro', sans-serif;
	box-shadow: 0 0 0 0;
    outline: 0;

}

#botaoCR:hover {
	background-color: #1cc6ff;
	border-color: none;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	  transform: scale(1.1);
}

#detalhes {
  grid-column: 1/3;
  grid-row: 2/3;
}

#detalhes > ul {
  padding: 0;
  list-style: none;
  margin-left: 2vw;
}

#quantidade {
  margin-bottom: 5vh;
  margin-top: 60px;
}

#bQuantidadeR {
  background-color: #25b1e0;
  box-shadow: 2px 1px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  cursor: pointer;
  border-style: none;
  font-family: "Source Sans Pro", sans-serif;
  margin-left: 3px;
  font-weight: bold;
  
}

#fecharPop{
  font-weight: bold;
  background-color: transparent;
  grid-column: 3/4;
  text-align: start;
  border-style: none;
  border-color: transparent;
  font-size: 16px;
  width: 40px;
  height: 40px;
  padding-top: 10px;
  box-shadow: 0 0 0 0;
	outline: 0;
}

  #fecharPop:hover{
	  color: white;
}
  
  #quantidadeR{
	width: 85px;
	padding: 3px;
	border-radius: 3px;
	border-style: none;
	border-color: transparent;
	margin-left: 2px;
	box-shadow: 0 0 0 0;
	  outline: 0;
	background-color: #8c8c8c;
	font-size: inherit;
	color: black;
  }

  ::-webkit-input-placeholder{
	  color: #cfcece;
  }

  #listaQuantidade{
	  list-style: none;
  }

  #mensagemErroEx{
	  padding-top: 10px;
	  margin-left: 30px;
	  font-size: 14px;
	  color: red;
  }

  .dadosT{
	font-family: 'Alfa Slab One', cursive;
	letter-spacing:1px;
}
