body {
	background-color: #778899;
	background: linear-gradient(to right, #144bb8c7, #29bbb4);
	margin: 0;
}	

header {
	display: flex;
	width: 100%;
	height: 100px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background-image: linear-gradient(to right, #144bb8c7, #29bbb4);
	justify-content: space-between;
	align-items: center;
	border-bottom: white solid;
}

h1 {
	font-family: 'Holtwood One SC', serif;
	font-size: 40px;
	letter-spacing: 1px;
	display: flex;
	padding-right: 350px;
	margin: 0 auto;
	padding-right: 100px;
	font-family: 'Shadows Into Light', cursive;
    color: white;

}

.logo {
	max-width: 110px;
	padding-top: 4px;
	margin-left: 1.5vw;
}
.logo:hover{
	-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.imagens {
	display: flex;
	flex-direction: line;
	align-items: center;
	display: inline-block;
	padding-top: 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	padding-right: 50px;
}

.botaofoto {
	display: flex;
	font-size: 10px;
}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
	color: aliceblue;
	display: flex;
	justify-content: center;

}

/* negocio do pesquisar*/
#pesquisa {
	display: flex;
	align-items: center;
}

#inPesquisa {
	padding: 0;
	height: 28px;
	width: 210px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-style: solid;
	border-color: #666666;
	border-width: 2px;
	font-family: 'Zilla Slab', serif;
}

#botaoPesquisa {
	border-color: #666666;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	margin-right: 0.4vw;
	border-style: solid;
	border-left: 0;
	border-width: 2px;
	padding: 0;
	width: 28px;
	height: 29px;
}


/*  formulario */
main {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	justify-content: center;

}
input {
	display: block;
	font-size: 15px;
	border-radius: 25px;
	margin-bottom: 20px;
	height: 60px;
	width: 200px;
	border: none;
	box-shadow: 0 0 0 0;
	outline: 0;
	padding: 0 30px 0 60px;

}

.login {
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
    padding-bottom: 20px;
    background: #3358a12f;
    margin-top: 50px;
	border-radius: 40px;
}

.campo {
	border-radius: 50px;	
}
.campo:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#logintitulo {
	padding-left: 30px;
	color: white;
	font-size: 30px;
	font-family: 'Poppins', sans-serif;
}

.login > a{
	display: flex;
	justify-content: center;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	color: white;
	text-decoration: none;
}
.login > a:hover{
	color: #25b1e0;

}
.checkbox{
	display: flex;
	padding-left: 10px;
	color:white
}
.icon_user > i {
  position: absolute;
  padding: 14px;
  padding-left: 20px;
  opacity: 80%;
  color:#778899;
}
.icon_lock > i {
	position: absolute;
	padding: 14px;
	padding-left: 20px;
	opacity: 80%;
	color:#778899;
}
/*  botão */

.boton {
	display: flex;
	color: #25b1e0;
	background-color: white;
	height: 50px;
	width: 200px;
	cursor: pointer;
	font-size: large;
	border-radius: 20px;
	border: none;
	font-family: 'Source Sans Pro', sans-serif;
	justify-content: center;
	margin-left: 45px;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

.boton:hover {
	background-color: #1cc6ff;
	background-image: none;
	border-color: none;
	-webkit-transform: scale(1.1);
     -ms-transform: scale(1.1);
	 transform: scale(1.1);
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	color: black;
	font-family: 'Poppins', sans-serif;

}

footer {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	width: content;
	border-bottom: 30px solid #144bb8c7;
	justify-content: center;
}

.imagens2 {
	padding-right: 10px;
	filter: invert(100%);
}
.imagens2:hover{
	-webkit-transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        transform: rotateZ(-30deg);
}